

h1 {
    color:goldenrod
}



h2{
    color:goldenrod;
}

a {
    text-decoration: none;
    color:goldenrod;
    font-weight: bold;
    text-indent: 10px;

}

a:hover{
    color:peru;
}

body{
    margin: 0px;
    background-color: rgba(245, 222, 179, 0.139);
}

nav{
    width: 100px;
    padding-block: 16px;
    border-color: black;
    border-bottom: 1px;
    text-indent: 10px;
}

header{
    background-color: rgb(199, 56, 56);
}



main{
    padding-left: 16px;
}

div{
    color:rgb(199, 56, 56);
    font-weight: bold;
}

td{
    color:rgb(199, 56, 56);
    font-weight: bold;
    /* padding-left: 16px; */
}

tr:nth-child(even){
    background-color: rgba(218, 165, 32, 0.559);
}


th{
    color:rgb(199, 56, 56);
    font-size: 24px;
}

li{
    color:rgb(199, 56, 56);
    font-weight: bold;
}

footer{
    padding-top: 24px;
    padding-bottom: 24px;

    background-color: goldenrod;
    text-indent: 10px;
    color:rgb(199, 56, 56);
    font-weight: bold;
}

img{
    height:200px;
}

.sacramento-regular {
    font-family: "Sacramento", cursive;
    font-weight: bolder;
    font-style: normal;
  }

  .container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    gap: 10px 20px;
    row-gap: 10;
    column-gap: 20px;
  }
